.container
  = simple_form_for(@workout, html: { class: 'form-horizontal' }) do |f|
    -if @workout.errors.any?
      #error_explanation
        %h2= pluralize(@job.errors.count, "error")
        prohibited this todo_list from being saved
        %ul
          -@workout.errors.full_messages.each do |message|
            %li= message
    =f.input :workout, label:'Workout', input_html: {class: "form-control"}
    =f.input :mood, label:'Mood', input_html: {class: "form-control"}
    =f.input :date, label:'Date', input_html: {class: "form-control"}
    =f.input :length, label:'Workout length', input_html: {class: "form-control"}
    %br/
    .form
      =f.button :submit,class: "btn btn-sm btn-default"
      =link_to "Back",root_path,class: "btn btn-sm btn-default"

