%br
=link_to "Home",root_path,class: "btn btn-sm btn-default"
-@workouts.each do |workout|
  %ul
    %h2
      %li= link_to workout.date.strftime('%A, %b %d ,%Y'),workout
    %p
      %li= workout.workout
