%h1= @workout.date.strftime('%A, %b %d ,%Y')
%p= @workout.workout
%p= @workout.mood
%p= @workout.length

=link_to "Back",workouts_path,class: "btn btn-sm btn-default"
=link_to "Edit",edit_workout_path,class: "btn btn-sm btn-default"
=link_to "Delete",workout_path,method: :delete ,class: "btn btn-sm btn-default"
